
@media (min-width:992px) and (max-width:1199.98px) {
    /* left and right icon in website  */
    .icon.fa-chevron-left {
        left: 44%;
    }
    .icon.fa-chevron-right {
        right: 44%;
    }

    /* catagory for new style */
    #catagory .catagory_item .overlay {
        padding: 8px 68px;
    }
    #catagory .catagory_item .tag_of_new {
        top: -109px;
        left: -85px;
    }

    /* offer for new style */
    #offer .offer_item_content h2 {
        font-size: 35px;
    }
    #offer .offer_item_content p {
        font-size: 12px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    /* topheader section css part */
    #topheader ul li {
        padding: 16px 13px;
    }
     /* left and right icon in website  */
     .icon.fa-chevron-left {
        left: 44%;
    }
    .icon.fa-chevron-right {
        right: 44%;
    }
    /* banner section css */
    #banner .slider .slider_item {
        height: 500px;
    }
    /* catagory section css */
    #catagory .catagory_item .overlay {
        padding: 10px 39px;
    }
    #catagory .catagory_item .overlay h2 {
        font-size: 27px;
    }
    #catagory .catagory_item .overlay h3 {
        font-size: 18px;
    }
    #catagory .catagory_item .overlay a {
        font-size: 13px;
    }
    #catagory .catagory_item .tag_of_new {
        font-size: 13px;
        top: -46px;
        left: -63px;
    }
    /* primary header css */
    .primary_header h2 {
        font-size: 37px;
    }
    /* offer section css  */
    #offer .offer_item_content h3 {
        margin-top: 20px;
    }
    
}
@media (min-width:576px) and (max-width:767.98px) {
    /* topheader section css  */
    #topheader ul li {
        padding: 10px 5px;
    }
    #topheader a, #topheader .top_left_header ul li select ,#topheader p{
        font-size: 10px;
    }
    /* banner section css */
    #banner .slider .slider_item p {
        font-size: 13px;
    }
    #banner .slider .slider_item h2 {
        font-size: 66px;
    }
    #banner .slider .slider_item h3 {
        font-size: 33px;
    }
    #banner .slider .slider_item a {
        font-size: 11px;
    }
    .icon{
        opacity: 0;
        visibility: hidden;
    }
    #banner .slider .slider_item {
        height: 500px;
    }
    /* catagory section css */
    #catagory .catagory_item .overlay {
        padding: 10px 51px;
    }
    #catagory .catagory_item .tag_of_new {
        font-size: 14px;
        top: -76px;
        left: -74px;
    }
    #catagory .catagory_item .overlay h2 {
        font-size: 25px;
    }
    #catagory .catagory_item .overlay h3 {
        font-size: 16px;
    }
    #catagory .catagory_item .overlay a {
        font-size: 13px;
    }
    /* facility section css */
    #facility .facility_item .facility_header h2 {
        font-size: 20px;
    }
    #facility .facility_item .facility_header i{
        font-size: 28px;
    }
    #facility .facility_item .facility_content p {
        font-size: 13px;
    }
    /* feature products css */
    /* primary header section css */
    .primary_header h2 {
        font-size: 34px;
    }
    /* offer section css  */
    #offer .offer_item_content h3 {
        margin-top: 20px;
    }
    /* testmonial css part */
    #testimonial .testimonial_item_part {
        padding: 40px 0px 60px;;
    }
    /* blog section css */
    #blog img{
        width: 100%;
    }
}
@media (max-width:575.98px) {
    /* topheaer section css */
    #topheader{
        display: none;
    }
     /* banner section css */
     #banner .slider .slider_item p {
        font-size: 13px;
    }
    #banner .slider .slider_item h2 {
        font-size: 50px;
    }
    #banner .slider .slider_item h3 {
        font-size: 27px;
    }
    #banner .slider .slider_item a {
        font-size: 10px;
    }
    .icon{
        opacity: 0;
        visibility: hidden;
    }
    #banner .slider .slider_item {
        height: 400px;
    }
     /* facility section css */
     #facility .facility_item .facility_header h2 {
        font-size: 20px;
    }
    #facility .facility_item .facility_header i{
        font-size: 24px;
    }
    #facility .facility_item .facility_content p {
        font-size: 12px;
    }
    /* catagory section css */
    #catagory .catagory_item{
        margin-bottom: 10px;
    }
    #catagory .catagory_item .tag_of_new {
        top: -142px;
        width: 111%;
        left: -136px;
    }
    /* primary header section css */
    .primary_header h2 {
        font-size: 27px;
    }
    /* featureeProducts  section css */
    #featuredProducts .featuredProducts_item_menu ul li {
        font-size: 12px;
        padding: 0px 9px;
    }
    /* offer section css  */
    #offer .offer_item_content h2 {
        font-size: 25px;
    }
    #offer .offer_item_content h3 {
        margin-top: 18px;
    }
    #offer .offer_item_content p {
        font-size: 12px;
    }
    #offer .offer_item_content .clock .time span{
        font-size: 13px;
    }
    #offer .offer_item_content .clock .time{
        padding: 5px 10px;
    }
    /* nav section css */
    nav img{
        width: 50%;
    }
    /* latest products section css */
    #latestProducts .latestProducts_item_thumb img{
        width: 100%;
    }

    /* testiomonial sectin css */
    #testimonial .testimonial_item_part {
        padding: 42px 0px 49px;
        height: 450px;
    }
    #testimonial .testimonial_item_part .testimonial_item {
        flex-direction: column;
    }
    #testimonial .testimonial_item_part .testimonial_item .testimonial_item_content{
        margin-top: 10px;
    }
    /* footer seciton css  */
    #footer .footer_item01 p {
        font-size: 12px;
    }
    #footer .footer_item01 img{
        width: 33%;
    }
    #footer .header h4 {
        padding: 16px 0px 21px;
    }
    #footer .footer_item02 .contact_part ul li a {
        margin-bottom: 11px;
        font-size: 13px;
    }
    #footer .footer_item03 .footer_nav ul li a {
        font-size: 13px;
        margin-bottom: 7px;
    }
    #footer .footer_item04 form button {
        font-size: 13px;
    }
}
